

.App {
  text-align: center;
  background-color: rgb(249, 250, 252);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



// Main App Page
.job-container {
    display: flex;
    border: 1px solid black;
}



// Queries
$phone: 480px;
$tablet: 786px;
$desktop: 1024px;

// Fonts
// $header: '"Lato", Arial, sans-serif';
$title: "Lato", Arial, sans-serif;
// $nav-style: 'Montserrat,sans-serif';
$nav-style: 'Questrial', sans-serif;
$primary: '';
$secondary: '';

// SEARCH FORM
$body-background-color: #212a38;
$body-color: #949ca5;
$border-color: #080a0e;
$font-color: #4A2A58;
$sub-title-color: #1890FF;